body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  line-height: 36px;
  font-size: 18px;
}

header h1 {
  font-size: 54px;
}

#Notes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  line-height: 36px;
  font-size: 18px;
}

#Notes article {
  margin: 18px;
  text-align: center;
}
