body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

header h1 {
  font-size: 54px;
}
h1 {
  font-size: 36px;
}
